<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-card *ngFor="let lista of _listaDeseos.listas">
			<ion-item>
				BOTON!!!
			</ion-item>

		<h2> {{ lista.nombre }} </h2>

		<ion-list>
			<ion-item>
			  <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
			  TETRIS
			</ion-item>

			<ion-item>
			  <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
			  TETRIS
			</ion-item>

			<ion-item>
			  <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
			  TETRIS
			</ion-item>
		</ion-list>

	</ion-card>


	  <ion-fab right bottom>
	    <button ion-fab color="primary"><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
	  <!--   <ion-fab-list side="left">
	      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
	      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
	      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
	      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
	    </ion-fab-list> -->
	  </ion-fab>


</ion-content>
